.container {
   height: 100vh;
   background-image: url(../../assets/bg_Info.webp);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   color: white;
}

.blockBtn {
   width: 100%;
   background-color: rgb(35, 98, 143);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 75px;
}

.blockInfo {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   width: 90%;
   background-color: rgba(35, 98, 143, 0.7);
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blockComments {
   background-color: rgb(42, 110, 110);
}
